# Ignore VS Code settings
.vscode/

# Ignore your debug script
debug.sh


clk.out
processes.txt
scheduler.out
scheduler.log
scheduler.perf
test_generator.out
process_generator.out
process.out